@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202124;
  color: white;
}

@layer components {
  .btn {
    @apply hover:bg-slightly-dark p-2 rounded-full
  }
}