@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  @variants responsive {
    .masonry-2 { column-count: 2; }
    .masonry-3 { column-count: 3; }
    .masonry-4 { column-count: 4; }
    .masonry-5 { column-count: 5; }

    .break-inside { break-inside: avoid; }
  }
}

body {
  background-color: #202124;
  color: white;
}

@layer components {
  .btn {
    @apply hover:bg-slightly-dark p-2 rounded-full cursor-pointer
  }
  
  .btn .active {
    @apply bg-slightly-dark
  }
  
  .input {
    @apply bg-inherit outline-none resize-none w-full
  }
  
  .sidebar-item {
    @apply flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-slightly-dark;
  }

  .sidebar-item-child {
    @apply flex-1 ml-3 whitespace-nowrap
  }
}